{
  branches: [
    { name: "master" },
    { name: "next", channel: "next", prerelease: "rc" }
  ],
  plugins: [
    '@semantic-release/commit-analyzer', 
    '@semantic-release/release-notes-generator', 
    '@semantic-release/github'
  ]
}
