name: CD

on:
  push:
    branches: '**'
    tags: 'v*'

jobs:     
  release-linux:
    uses: Geode-solutions/actions/.github/workflows/cd-linux.yml@master
    with:
      name: OPENGEODE
      directory: opengeode
      package: OpenGeode
    secrets:
      TOKEN: ${{ secrets.TOKEN }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }} 

  release-linux-python:
    uses: Geode-solutions/actions/.github/workflows/cd-linux-python.yml@master
    with:
      name: OPENGEODE
      directory: opengeode
      package: OpenGeode_core
    secrets:
      TOKEN: ${{ secrets.TOKEN }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }} 
      PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }} 

  release-windows:
    uses: Geode-solutions/actions/.github/workflows/cd-windows.yml@master
    with:
      name: OPENGEODE
      directory: opengeode
      package: OpenGeode
    secrets:
      TOKEN: ${{ secrets.TOKEN }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

  release-windows-python:
    uses: Geode-solutions/actions/.github/workflows/cd-windows-python.yml@master
    with:
      name: OPENGEODE
      directory: opengeode
      package: OpenGeode_core
    secrets:
      TOKEN: ${{ secrets.TOKEN }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
      PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }} 
