name: CI

on:
  schedule:
    - cron: 0 0 * * *

jobs:
  schedule:
    uses: Geode-solutions/actions/.github/workflows/ci-schedule.yml@master
    with:
      directory: opengeode
    secrets: inherit
